<header class="header-fixed">
      <div class="header-limiter">
        <h1><%= link_to root_path, class: "navbar-sylvie-brand" do %>
        <%= image_tag "logo.png", height: 50 %>
        <% end %></h1>
        <nav>
        <a href="#one">Qui suis-je ?</a>
        <a href="#two">Presentation</a>
        <%= link_to "Reflexologies", "/pages/reflexologies", class: "navbar-wagon-item navbar-wagon-link"%>
        <%= link_to "Tarifs", "/pages/tarifs", class: "navbar-wagon-item navbar-wagon-link" %>
        <%= link_to "Contact", "/pages/contact", class: "navbar-wagon-item navbar-wagon-link" %>
        </nav>
      </div>
</header>
