<div id="navbar">
  <!-- Logo -->
  <%= link_to root_path, class: "navbar-sylvie-brand" do %>
    <%= image_tag "logo.png", height: 150 %>
  <% end %>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">

      <a href="#presentation">Presentation</a>
      <%= link_to "Reflexologies", "/pages/reflexologies", class: "navbar-wagon-item navbar-wagon-link" %>
      <%= link_to "Tarifs", "/pages/tarifs", class: "navbar-wagon-item navbar-wagon-link" %>
      <%= link_to "Contact", "/pages/contact", class: "navbar-wagon-item navbar-wagon-link" %>
    </div>
 </div>
