 <!-- MAIN CONTENT HERE -->
<div class="banner" style="background: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url(<%= image_path 'antonika.jpg' %>);">
      <div class="banner-content">
        <h1>STIMULATION DES POINTS REFLEXES</h1>
        <p>Sur rendez-vous au 1er Rue Paul Verlaine à Talence.</p>
        <a href="#contact-form" class="btn btn-default">Laissez-vous tenter</a>
      </div>
</div>
<h1 id="one" class="big-text text-center">Qui suis-je ?</h1>
<div class="wrapper">
  <div class="element">
    <!-- Add icon library -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="cardo">
  <%= image_tag "sylvie.jpg",alt: "Sylvie", width: 400, height: 400 %>
  <h1>Sylvie Desclosayes</h1>
  <p class="title">Infirmière en activité au CHU de Bordeaux & Reflexologue dans un cabinet paramédical.</p>
  <p> Dimplome certifié par la Fédération Française de Réflexologie</p>
  <a href="#"><i class="fa fa-twitter"></i></a>
  <a href="#"><i class="fa fa-linkedin"></i></a>
  <a href="#"><i class="fa fa-facebook"></i></a>
  <p><a href="#contact-form"><button>Contactez moi</button></a></p>
</div>
  </div>
  <div class="other-element"><%= image_tag "cabinet-paramedical.jpeg",alt: "Sylvie", width: 860, height: 400 %>
  </div>
  <div class="other-element2"><%= image_tag "cabinet.jpeg",alt: "Sylvie", width: 400, height: 200 %>
  </div>
  <div class="other-element3"><%= image_tag "cabinet2.jpeg",alt: "Sylvie", width: 400, height: 200 %>
  </div>
  <div class="other-element4"><%= image_tag "cabinet3.jpeg",alt: "Sylvie", width: 400, height: 200 %>
  </div>
</div>
  <div class="histoire" style="background-color: rgba(255, 139, 210, 0.4);">
    <div class="background_opacity">
    <h1 id="two" class="big-text text-center">Un peu d'histoire</h1>
    <br>
    <div class="container">
    <div id="timeline">
      <div class="timeline-item">
        <div class="timeline-icon">
          <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
   width="21px" height="20px" viewBox="0 0 21 20" enable-background="new 0 0 21 20" xml:space="preserve">
<path fill="#FFFFFF" d="M19.998,6.766l-5.759-0.544c-0.362-0.032-0.676-0.264-0.822-0.61l-2.064-4.999
  c-0.329-0.825-1.5-0.825-1.83,0L7.476,5.611c-0.132,0.346-0.462,0.578-0.824,0.61L0.894,6.766C0.035,6.848-0.312,7.921,0.333,8.499
  l4.338,3.811c0.279,0.246,0.395,0.609,0.314,0.975l-1.304,5.345c-0.199,0.842,0.708,1.534,1.468,1.089l4.801-2.822
  c0.313-0.181,0.695-0.181,1.006,0l4.803,2.822c0.759,0.445,1.666-0.23,1.468-1.089l-1.288-5.345
  c-0.081-0.365,0.035-0.729,0.313-0.975l4.34-3.811C21.219,7.921,20.855,6.848,19.998,6.766z"/>
</svg>

        </div>
        <div class="timeline-content">
          <h2>Une pratique ancestrale</h2>
          <div class="flexbox">
          <span class="flotte"><%= image_tag "peru.jpg", width: 1000, height: 150 %></span>
          <p class="txt">
            La Réflexologie que je pratique prend ces racines chez les Incas (Pérou), très ancienne civilisation du Pérou, datant d’environ 12000 ans avant J.-C.
Ces derniers auraient transmis leur savoir aux indiens d’Amérique du Nord, les tribus Cherokee notamment. Le massage réflexe des pieds est un art sacré selon eux car les pieds symbolisent la partie du corps qui relie l’homme à l’univers qui l'entoure.
          </p>
          </div>
        </div>
      </div>

      <div class="timeline-item">
        <div class="timeline-icon">
          <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
   width="21px" height="20px" viewBox="0 0 21 20" enable-background="new 0 0 21 20" xml:space="preserve">
<g>
  <path fill="#FFFFFF" d="M17.92,3.065l-1.669-2.302c-0.336-0.464-0.87-0.75-1.479-0.755C14.732,0.008,7.653,0,7.653,0v5.6
    c0,0.096-0.047,0.185-0.127,0.237c-0.081,0.052-0.181,0.06-0.268,0.02l-1.413-0.64C5.773,5.183,5.69,5.183,5.617,5.215l-1.489,0.65
    c-0.087,0.038-0.19,0.029-0.271-0.023c-0.079-0.052-0.13-0.141-0.13-0.235V0H2.191C1.655,0,1.233,0.434,1.233,0.97
    c0,0,0.025,15.952,0.031,15.993c0.084,0.509,0.379,0.962,0.811,1.242l2.334,1.528C4.671,19.905,4.974,20,5.286,20h10.307
    c1.452,0,2.634-1.189,2.634-2.64V4.007C18.227,3.666,18.12,3.339,17.92,3.065z M16.42,17.36c0,0.464-0.361,0.833-0.827,0.833H5.341
    l-1.675-1.089h10.341c0.537,0,0.953-0.44,0.953-0.979V2.039l1.459,2.027V17.36L16.42,17.36z"/>
</g>
</svg>

        </div>
        <div class="timeline-content right">
          <h2>Une découverte</h2>
          <div class="flexbox">
          <span class="flotte"><%= image_tag "fitz.jpeg", width: 1000, height: 150 %></span>
          <p class="txt">
           La renaissance de la réflexologie remonte à la découverte du Dr William Fitzgerald, au début du XXe siècle. Ce chirurgien était, en réalité, à la recherche d’une méthode d’anesthésie pour les patients devant subir une opération chirurgicale. Il découvrit ainsi que la pression, sur des points bien spécifiques du corps humain, diminuait considérablement la douleur chez les patients.
          </p>
          </div>
        </div>
      </div>

      <div class="timeline-item">
        <div class="timeline-icon">
<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
   width="21px" height="20px" viewBox="0 0 21 20" enable-background="new 0 0 21 20" xml:space="preserve">
<path fill="#FFFFFF" d="M19.998,6.766l-5.759-0.544c-0.362-0.032-0.676-0.264-0.822-0.61l-2.064-4.999
  c-0.329-0.825-1.5-0.825-1.83,0L7.476,5.611c-0.132,0.346-0.462,0.578-0.824,0.61L0.894,6.766C0.035,6.848-0.312,7.921,0.333,8.499
  l4.338,3.811c0.279,0.246,0.395,0.609,0.314,0.975l-1.304,5.345c-0.199,0.842,0.708,1.534,1.468,1.089l4.801-2.822
  c0.313-0.181,0.695-0.181,1.006,0l4.803,2.822c0.759,0.445,1.666-0.23,1.468-1.089l-1.288-5.345
  c-0.081-0.365,0.035-0.729,0.313-0.975l4.34-3.811C21.219,7.921,20.855,6.848,19.998,6.766z"/>
</svg>

        </div>
        <div class="timeline-content">
          <h2>Une carte des zones réflexes</h2>
          <div class="flexbox">
          <span class="flotte"><%= image_tag "zone.jpg", width: 1000, height: 150 %></span>
          <p class="txt">
            A force d’études et d’expériences, le Dr William Fitzgerald put établir une théorie indiquant que notre corps peut être divisé en dix zones énergétiques. Ces zones dites « zones réflexes » vont de la tête au pied et aboutissent dans les orteils. De cette manière, les terminaisons nerveuses des organes atterrissent dans les pieds. En d’autres termes, le massage précis des pieds aurait un effet stimulant sur les organes internes.
          </p>
          </div>
        </div>
      </div>
      <div class="timeline-item">
        <div class="timeline-icon">
          <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
   width="21px" height="20px" viewBox="0 0 21 20" enable-background="new 0 0 21 20" xml:space="preserve">
<g>
  <path fill="#FFFFFF" d="M17.92,3.065l-1.669-2.302c-0.336-0.464-0.87-0.75-1.479-0.755C14.732,0.008,7.653,0,7.653,0v5.6
    c0,0.096-0.047,0.185-0.127,0.237c-0.081,0.052-0.181,0.06-0.268,0.02l-1.413-0.64C5.773,5.183,5.69,5.183,5.617,5.215l-1.489,0.65
    c-0.087,0.038-0.19,0.029-0.271-0.023c-0.079-0.052-0.13-0.141-0.13-0.235V0H2.191C1.655,0,1.233,0.434,1.233,0.97
    c0,0,0.025,15.952,0.031,15.993c0.084,0.509,0.379,0.962,0.811,1.242l2.334,1.528C4.671,19.905,4.974,20,5.286,20h10.307
    c1.452,0,2.634-1.189,2.634-2.64V4.007C18.227,3.666,18.12,3.339,17.92,3.065z M16.42,17.36c0,0.464-0.361,0.833-0.827,0.833H5.341
    l-1.675-1.089h10.341c0.537,0,0.953-0.44,0.953-0.979V2.039l1.459,2.027V17.36L16.42,17.36z"/>
</g>
</svg>

        </div>
        <div class="timeline-content right">
          <h2>Institut Internationnal de Réflexologie</h2>
          <div class="flexbox">
          <span class="flotte"><%= image_tag "institute.jpg", width: 1000, height: 150 %></span>
          <p class="txt">
            En 1917, Dr William Fitzgerald rédige ses découvertes et publie Zone Therapy, devenu aujourd’hui un ouvrage de référence pour la réflexologie. C’est donc le père de la réflexologie moderne. Plus tard, en 1935, son travail sera complété par Enice INGHAM qui établira la carte des zones de réflexes, sur les pieds. Grâce à cette cartographie, elle a attiré l’attention du public sur les principes scientifiques de la réflexologie. Eunice Ingham a également fondé la première école de réflexologie, l’International Institute of Reflexology.
          </p>
          </div>
        </div>
      </div>
    </div>
  </div>
    <br>
    </div>
  </div>
<div class="reflex">
  <h1 class="big-text text-center">Réflexologies</h1>
  <div class="container">
      <div class="cards row">
        <div class="col-md-12">
          <div class="carte">
            <div class="card-body" style="background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.2)), url(<%= image_path 'reflexo.jpg' %>);">
              <span class="card-category">Plantaire</span>
              <div class="card-description">
                <h2>Relaxation total</h2>
                <p>Rétabli l'équilibre du corps</p>
              </div>
              <a class="card-link" href="#" ></a>
            </div>
            <div class="card-footer">
              <p>En savoir plus</p>
              <div class="controls">
                <a href="/pages/reflexologies"><i class="fa fa-share"></i></a></li>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <div class="carte">
            <div class="card-body" style="background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.2)), url(<%= image_path 'antonika.jpg' %>);">
              <span class="card-category">Faciale</span>
              <div class="card-description">
                <h2>Soulagement des douleurs aigus</h2>
                <p>Favorise le déblocage des influx nerveux</p>
              </div>
              <a class="card-link" href="#" ></a>
            </div>
            <div class="card-footer">
              <p>En savoir plus</p>
              <div class="controls">
                <a href="/pages/reflexologies"><i class="fa fa-share"></i></a></li>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <div class="carte">
            <div class="card-body" style="background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.2)), url(<%= image_path 'blur.jpg' %>);">
              <span class="card-category">Palmaire</span>
              <div class="card-description">
                <h2>Evacuer le stress du corps</h2>
                <p>Améliore la circulation sanguine</p>
              </div>
              <a class="card-link" href="#" ></a>
            </div>
            <div class="card-footer">
              <p>En savoir plus</p>
              <div class="controls">
                <a href="/pages/reflexologies"><i class="fa fa-share"></i></a></li>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>

    <div class="container">
      <h1 class="big-text text-center">Témoignages</h1>
        <div class="row">
            <div class="col-md-12">
                <div id="testimonial-slider" class="owl-carousel">
                    <div class="testimonial">
                        <div class="pic">
                            <img src="https://images.pexels.com/photos/704955/pexels-photo-704955.jpeg?w=940&h=650&auto=compress&cs=tinysrgb">
                        </div>
                        <p class="description">
                            J'ai commencé les séances de réflexologie plantaire avec Sylvie à raison de 3 séances par semaine, et les bienfaits de ces séances m'ont permis de calmer mes problèmes de colopathie reccurents. Au début,je n'étais pas réceptive, je suis de nature toujours stressée, anxieuse. Au fur et à mesure, j'ai donc réussi et apprécier, grâce à Sylvie, à ma détendre. Sa personnalité calme et sereine rendait ses séances très satisfaisantes. J'ai trouvé une nette amélioration. Je remercie Sylvie pour son dévouement ,sa patience et ses qualités professionnelles dans ce domaine.
                        </p>
                        <h3 class="title">Martine</h3>
                        <small class="post">- Cestas</small>
                    </div>

                    <div class="testimonial">
                        <div class="pic">
                            <img src="https://images.pexels.com/photos/638700/pexels-photo-638700.jpeg?w=940&h=650&auto=compress&cs=tinysrgb">
                        </div>
                        <p class="description">
                            Je ne connaissais pas la réflexologie plantaire avant d’avoir été entre les mains de Sylvie (ma meilleure amie m’avait offert une séance car elle avait elle-même été conquise).
                            Je suis devenue accro à ces séances, qui m’aident à traverser une période compliquée de ma vie. On est accueillis dans un cadre bienveillant et lorsque l’on se remet aux doigts de fée de Sylvie on ressort une heure après débarrassé de tout ce qui nous encombrait mentalement. Personnellement c’est devenu ma routine bien-être! <br/> <br/>
                        </p>
                        <h3 class="title">Delphine</h3>
                        <small class="post">- Lacombe  </small>
                    </div>

                    <div class="testimonial">
                        <div class="pic">
                            <img src="https://images.pexels.com/photos/531139/pexels-photo-531139.jpeg?w=940&h=650&auto=compress&cs=tinysrgb">
                        </div>
                        <p class="description">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed malesuada vulputate nisi in fermentum. Vivamus ac libero quis nisi auctor pulvinar. Aenean sit amet lectus posuere, mattis massa eget, ullamcorper diam. Nunc sit amet felis eget arcu congue dictum.
                        </p>
                        <h3 class="title">Kellie</h3>
                        <small class="post">- Graphic Designer</small>
                    </div>
                </div>
            </div>
        </div>
    </div>

