<div class="container1">
<h1 class="big-text text-center">Réflexologies</h1>
<p>La réflexologie est une pratique thérapeutique utilisant la digitopression. Elle repose sur le précepte que chaque organe, partie du corps ou fonction physiologique correspond à une zone ou à un point sur les mains, les pieds ou les oreilles. Un toucher spécifique sur ces zones permet ainsi de localiser et dissiper les tensions afin de rétablir l’équilibre du corps.
</p>


  <div class="row articles">
  <article class="articleShort articleMain">
    <div class="card">
      <div class="card-image">
        <a href="#contact-form" title="title here">
          <%= image_tag "reflexo1.jpg", alt: "Mon image", width: 350, height: 350 %>
        </a>
      </div>
      <div class="card-content">
        <h3 id="four">Réflexologie plantaire</h3>
        <p> C'est une technique précise qui se pratique principalement avec les pouces et les index exerçant des pressions successives sur des points réflexes des pieds. Ceux-ci sont considérés comme le reflet fidèle du corps humain, de ces organes et de ces glandes. Elle apporte la relaxation, le réequilibrage du corps, améliore la circulation sanguine et agit sur tous les symptômes physiques liés au stress. </p>
        <p><a href="#contact-form" class="btn btn-danger" title="title here">Contactez moi</a>
        </p>
      </div>
    </div>
  </article>
  <article class="articleShort">
    <div class="card">
      <div class="card-image">
        <a href="#" title="title here">
          <%= image_tag "blur.jpg", alt: "Mon image", width: 350, height: 350  %>
        </a>
      </div>
      <div class="card-content">
        <h3 id="five">Réflexologie palmaire</h3>
        <p>C'est une technique qui repose sur la stimulation de points réflexes spécifiques dans le but de soulager des douleurs, agir favorablement sur des affections et favoriser notre potentiel d’autoguérison. Les paumes des mains renferment plus de 3000 terminaisons nerveuses, en relation avec tout l’organisme.</p>
        <p><a href="#contact-form" class="btn btn-danger" title="title here">Contactez moi</a>
        </p>
      </div>
    </div>
  </article>
  <article class="articleShort">
    <div class="card">
      <div class="card-image">
        <a href="#contact-form" title="title here">
          <%= image_tag "antonika.jpg", alt: "Mon image", width: 350, height: 350  %>
        </a>
      </div>
      <div class="card-content">
        <h3 id="six">Réflexologie faciale</h3>
        <p>DIEN CHAN (Visage thérapie). Bénéfices: sooulager les douleurs, renforcer le tonus, équilibrer l'énergie, entretenir la jeunesse et la beauté. C'est une méthode récente (1980) de prévention et de soin sans danger, ni médicaments du Docteur BUI QUOC CHAU Elle se base sur les correspondances entre les organes et les parties du visage de mêmes formes du visage ( par exemple l'arête du nez deviens la colonne vertébrale ).</p>
        <p><a href="#contact-form" class="btn btn-danger" title="title here">Contactez moi</a>
        </p>
      </div>
    </div>
  </article>

  <article class="articleShort">
    <div class="card">
      <div class="card-image">
        <a href="#contact-form" title="title here">
          <%= image_tag "toa-heftiba-578093-unsplash.jpg", alt: "Mon image", width: 350, height: 350  %>
        </a>
      </div>
      <div class="card-content">
        <h3>Massage ayurvédique</h3>
        <p>visage et crâne. Issu de l'AYURVEDA ,médecine indienne reconnue par l' OMS. Procure une détente générale,un retour au calme, chasse les idées noires, relache les tensions, calme certains maux de tête. </p>
        <p><a href="#contact-form" class="btn btn-danger" title="title here">Contactez moi</a>
        </p>
      </div>
    </div>
  </article>
  <article class="articleShort">
    <div class="card">
      <div class="card-image">
        <a href="#contact-form" title="title here">
          <%= image_tag "andrik-langfield-426760-unsplash.jpg", alt: "Mon image", width: 350, height: 350  %>
        </a>
      </div>
      <div class="card-content">
        <h3 id="three">Hypnose Éricksonienne</h3>
        <p>L'hypnose thérapeutique consiste à amener une personne en état modifié de conscience (EMC), elle permet d'accéder au réservoir de ressources inconscientes de chaque personnes pour induire les changements souhaités</p>
        <p><a href="#contact-form" class="btn btn-danger" title="title here">Contactez moi</a>
        </p>
      </div>
    </div>
  </article>

</div>
</div>
</div>


